/* https://huemint.com/website-1/#palette=4f2ea8-f8f5f2-406d80 */

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', 'sans-serif';

  --color-primary-whiteish: #f8f5f2;
  --color-primary-light-purple: #5e37cc;
  --color-primary-main-purple: #4f2ea8;
  --color-primary-light-green: #4b7d92;
  --color-primary-main-green: #406d80;

  --color-error-100: rgb(255, 192, 180);
  --color-error-500: rgb(199, 51, 15);

  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-4: 1rem;
  --space-6: 1.5rem;
  --space-8: 2rem;

  --border-radius-small: 4px;
  --border-radius-medium: 6px;

  --shadow-medium: 0 2px 8px rgba(0, 0, 0, 0.2);
}

body {
  background-color: var(--color-primary-main-purple);
  color: var(--color-primary-whiteish);
  margin: 0;
}
main {
  width: 90%;
  max-width: 50rem;
  margin: 0 auto;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: var(--color-primary-whiteish);
}
.btn {
  cursor: pointer;
  font: inherit;
  padding: var(--space-2);
  border: 1px solid var(--color-primary-main-green);
  border-radius: var(--border-radius-small);
  background-color: var(--color-primary-main-green);
  color: var(--color-primary-whiteish);
}
.btn:hover,
.btn:active {
  background-color: var(--color-primary-light-green);
  border-color: var(--color-primary-light-green);
}
